/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/* .magpie-view-stimulus-container { */
/*     height: auto; */
/*     max-height: 0px; */
/* } */

/* Display all titles in red */
/*.magpie-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

/* input[type=radio]:checked+label { */
/*     width: 500px; */
/*     border: 10px solid powderblue; */
/* } */

.magpie-help-text {
    font-size: 0px;
    max-height: 0px;
}

.progress-bar-container {
    float: right;
    margin: 0 10px 60px 10px;
}

.clearfix {
    clear: none;
}

.magpie-view {
    padding-top: 50px;
}

/* .magpie-view-answer-container { */
/*     text-align: center; */
/*     margin: : 0px; */
/*     border: 1px solid red; */
/*     clear: none; */
/*     position: sticky; */
/*     top: 0; */
/* } */
